## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.describe()

,Unnamed: 0,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
count,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000
mean,351.000000,19.386370,2.001189,292.546060,71.847795,52.411095,3.275932
std,203.082906,31.153741,55.302286,7.178529,21.172764,38.869498,2.151389
min,0.000000,-54.800000,-122.419400,273.010000,8.000000,0.000000,0.000000
25%,175.500000,-5.802100,-52.324550,287.935000,62.000000,11.000000,1.690000
50%,351.000000,20.346700,12.152200,293.510000,78.000000,58.000000,2.790000
75%,526.500000,46.841000,40.595300,297.965000,87.000000,93.000000,4.415000
max,702.000000,78.218600,151.783300,315.550000,100.000000,100.000000,11.680000

In [3]:
city_data_df["Max Temp"] = city_data_df["Max Temp"] - 273.15

In [4]:
city_data_df["Max Temp"] = city_data_df["Max Temp"] *1.8

In [5]:
city_data_df["Max Temp"] = city_data_df["Max Temp"] + 32

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
preferred_cities_df.head(10)

C:\Users\DrDan\AppData\Local\Temp\ipykernel_12748\2814722424.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preferred_cities_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country,Date
2,2,Boa Vista,2.8197,-60.6733,84.182,65,20,2.57,few clouds,BR,2022-08-20 23:50:25
5,5,Jamestown,42.0970,-79.2353,78.440,52,75,2.57,broken clouds,US,2022-08-20 23:51:10
12,12,Jeremie,18.6500,-74.1167,82.562,79,12,0.98,few clouds,HT,2022-08-20 23:51:39
21,21,Mecca,21.4267,39.8261,87.746,41,39,1.43,scattered clouds,SA,2022-08-20 23:51:45
30,30,Georgetown,5.4112,100.3354,76.946,96,40,2.68,scattered clouds,MY,2022-08-20 23:49:54
32,32,Goure,13.9835,10.2704,79.016,57,85,4.66,overcast clouds,NE,2022-08-20 23:51:51
33,33,Porto Novo,6.4965,2.6036,75.020,91,60,1.96,broken clouds,BJ,2022-08-20 23:51:51
35,35,Bathsheba,13.2167,-59.5167,81.212,83,40,5.14,scattered clouds,BB,2022-08-20 23:51:53
39,39,Hithadhoo,-0.6000,73.0833,81.122,76,61,5.04,broken clouds,MV,2022-08-20 23:51:55
41,41,Bengkulu,-3.8004,102.2655,75.164,94,100,5.55,overcast clouds,ID,2022-08-20 23:51:56

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
Country                0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# NO empty rows

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Boa Vista,BR,84.182,few clouds,2.8197,-60.6733,
5,Jamestown,US,78.440,broken clouds,42.0970,-79.2353,
12,Jeremie,HT,82.562,few clouds,18.6500,-74.1167,
21,Mecca,SA,87.746,scattered clouds,21.4267,39.8261,
30,Georgetown,MY,76.946,scattered clouds,5.4112,100.3354,
32,Goure,NE,79.016,overcast clouds,13.9835,10.2704,
33,Porto Novo,BJ,75.020,broken clouds,6.4965,2.6036,
35,Bathsheba,BB,81.212,scattered clouds,13.2167,-59.5167,
39,Hithadhoo,MV,81.122,broken clouds,-0.6000,73.0833,
41,Bengkulu,ID,75.164,overcast clouds,-3.8004,102.2655,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"]=f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Weather Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [13]:
hotel_df.count()

City                   197
Country                197
Max Temp               197
Weather Description    197
Lat                    197
Lng                    197
Hotel Name             197
dtype: int64

In [14]:
hotel_df.dropna()
hotel_df.count()

City                   197
Country                197
Max Temp               197
Weather Description    197
Lat                    197
Lng                    197
Hotel Name             197
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
hotel_df.to_csv("WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]

In [25]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))